* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.nav-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-section img {
    padding: 3rem;
}

.nav-links-section {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;

    padding: 3rem;
}

.nav-links-section a {
    padding: 1.5rem;
    color: rgb(136, 136, 147);
    text-decoration: none;
}

.main-section {
    display: flex;
}